$break-xxlg: 2560px;
$break-xlg: 1920px;
$break-lg: 1440px;
$break-md: 1024px;
$break-sm: 768px;
$break-xs: 480px;

$footer-grey-accent: #f2f2f2;
$red-iphone-match: #cc3341;
$subtitles-grey: #888;
$border-grey: #d6d6d6;

@mixin background-image($url, $repeat, $size, $position) {
    background: url($url);
    background-repeat: $repeat;
    background-size: $size;
    background-position: $position;
}

@mixin slides {
    position: absolute;
    width: 100%;
    height: 706px;
    background: $red-iphone-match;
    .titleWrap {
        position: absolute;
        width: 100%;
        height: auto;
        top: 80px;
        text-align: center;
        color: white;
        span {
            font-size: 11px;
            border: 1px solid white;
            border-radius: 4px;
            padding: 5px 8px 5px 8px;
            letter-spacing: .7px;
        }
        h1 {
            font-size: 31px;
            letter-spacing: 1px;
            margin: 30px -7px 0 0;
        }
        h2 {
            display: inline-block;
            width: 100%;
            vertical-align: middle;
            margin-top: 0;
            font-size: 42px;
            line-height: 80px;
            .productPNG {
                display: inline-block;
                vertical-align: middle;
                margin-right: -54px;
                margin-top: -7px;
                width: 220px;
                height: 75px;
                @include background-image('http://images.apple.com/v/home/de/images/shared/productred_logo_medium_2x.png', no-repeat, 214px 60px, center center);
            }
        }
    }
    .iphoneWrapper {
        position: absolute;
        bottom: 0;
        width: 97%;
        height: 480px;
        z-index: 100;
        overflow: hidden;
        @include background-image('http://images.apple.com/v/home/de/images/heroes/iphone7_productred_small.png', no-repeat, null, top center);
        @include bp-xs {
            left: 10px;
            height: 428px;
            @include background-image('https://images.apple.com/v/home/de/images/heroes/iphone7_productred_portrait_small_2x.png', no-repeat, auto 100%, bottom left );
        }
    }
}

@mixin bp-xlg {
  @media only screen and (min-width: $break-xlg) {
    @content;
  }
}

@mixin bp-lg {
  @media only screen and (max-width: $break-lg) {
    @content;
  }
}

@mixin bp-md {
  @media only screen and (max-width: $break-md) {
    @content;
  }
}

@mixin bp-sm {
  @media only screen and (max-width: $break-sm) {
    @content;
  }
}
@mixin bp-xs {
    @media only screen and (max-width: $break-xs) {
        @content;
    }
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

img {
    /*max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;*/
}

.container-fluid, .row {
    margin: 0; 
    padding: 0;
}

nav {
    position: absolute;
    height: 44px;
    width: 100%;
    // background: rgba(0,0,0,0.8);
    background: rgba(45,45,45,0.98);
    color: white;
    display: inline-block;
    line-height: 44px;
    z-index: 100;
    white-space: nowrap;
    overflow: hidden;
    @include bp-sm {
        height: 48px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin-top: 0;
        text-align: center;
        height: 44px;
        @include bp-sm {
            display: none;
        }
        li {
            display: inline-block;
            font-size: 14px;
            margin-left: 77px;
            letter-spacing: .1px;
            height: 44px;
            top: 0;
            vertical-align: middle;
            cursor: pointer;
            &:first-child {
                margin-left: 0;
                font-size: 20px;
                line-height: 44px;
            }
            @include bp-md {
                margin-left: 50px;
            }
        }
        #searchIcon {
            width: 20px;
            height: 44px;
            display: inline-block;
            @include background-image('http://www.apple.com/ac/globalnav/3/en_US/images/globalnav/search/image_large.svg', no-repeat, 16px 44px, center center);
        }
        #shoppingBag {
            width: 20px;
            height: 44px;
            display: inline-block;
            @include background-image('http://www.apple.com/ac/globalnav/3/en_US/images/globalnav/bag/image_large.svg', no-repeat, 16px 44px, center center);
        }
    }
}

.mobileNav {
    position: absolute;
    width: 100%;
    height: 44px;
    top: 0;
    display: none;
    @include bp-sm {
        display: inline-block;
    }
    .fa-bars {
        position: absolute;
        font-size: 20px;
        left: 0;
        display: inline-block;
        width: 48px;
        height: 48px;
        color: white;
        cursor: pointer;
        line-height: 44px;
        &:hover {
            text-decoration: none;
        }
    }
    .fa-apple {
        position: absolute;
        left: 50%;
        font-size: 20px;
        margin-left: -5px;
        color: white;
        cursor: pointer;
        line-height: 44px;
        &:hover {
            text-decoration: none;
        }
    }
    #shoppingBag {
        position: absolute;
        right: 10px;
        cursor: pointer;
        background-size: 18px 48px;
    }
}

#transparentWrap {
    width: 100%;
    height: 706px;
    position: relative;
}
#slideContainer {
    position: absolute;
    width: 100%;
    height: 706px;
    top: 0;
    overflow: hidden;
}

#sliderWrap {
    width: 100%;
    height: 706px;
    cursor: pointer;
    .slideOne {
        @include slides;
    }
    .slideTwo {
        position: absolute;
        background: rgb(242, 242, 242);
        width: 100%;
        height: 706px;
        transform: translate3d(100%, 0px, 0px);
        .titleWrap {
            position: absolute;
            top: 11%;
            width: 100%;
            height: auto;
            text-align: center;
            z-index: 100;
            .logo {
                width: 400px;
                height: 50px;
                margin: 0 auto;
                @include background-image('https://images.apple.com/v/home/de/images/shared/watch_logo_large_2x.png', no-repeat, 122px 44px, center center);
                @include bp-xs {
                    width: 300px;
                    margin-top: 40px;
                }
            }
            h1 {
                font-size: 45px;
                font-weight: bold;
                margin-top: 5px;
                margin-right: -10px;
                @include bp-xs {
                    font-size: 36px;
                    margin-top: 15px;
                }
            }
        }
        .watchWrap {
            position: absolute;
            top: 0px;
            width: 100%;
            height: 100%;
            transform: translateY(5%);
            z-index: -1;
            @include background-image('https://images.apple.com/v/home/de/images/heroes/watch_large_2x.jpg', no-repeat, contain, top center);
            @include bp-xs {
                background-position: center center;
            }
        }
    }
    .slideThree {
        position: absolute;
        background: rgb(250, 250, 250);
        width: 100%;
        height: 706px;
        transform: translate3d(200%, 0px, 0px);
        .titleWrap {
            position: absolute;
            text-align: center;
            width: 100%;
            height: auto;
            top: 12%;
            @include bp-xs {
                top: 20%;
            }
            h1 {
                font-size: 30px;
                margin-bottom: 5px;
            }
            h2 {
                font-size: 45px;
                font-weight: bold;
                margin-top: 0;
                @include bp-xs {
                    font-size: 36px;
                }
            }
        }
        .ipadWrap {
            position: absolute;
            width: 100%;
            height: calc(77% - 54px);
            bottom: 0;
            z-index: -1;
            @include background-image('https://images.apple.com/v/home/de/images/heroes/ipad_availability_medium_2x.jpg', no-repeat, auto 100%, center center);
            @include bp-xs {
                bottom: 120px;
                height: 297px;
                @include background-image('https://images.apple.com/v/home/de/images/heroes/ipad_availability_small_2x.jpg', no-repeat, auto 100%, center center);
            }
        }
    }
    .slideFour {
        @include slides;
        transform: translate3d(300%, 0px, 0px);
    }
}

.sliderNav {
    width: 180px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    a {
        display: inline-block;
        width: 50px;
        height: 2px;
        background: rgba(128,128,128,0.8);
        text-align: center;
        margin: 5px;
        cursor: pointer;
    }
}


.quadImages {
    padding: 0;
    margin: 0;
    height: 200px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    z-index: 100;
    cursor: pointer;
}

#quad1 {
    border-left: none;
    border-right: 2px solid white;
    @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 360px 200px, null);
    @include bp-xlg {
        @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 640px 200px, null);
    }
    @include bp-md {
        border-right: none;
        border-bottom: 1px solid white;
        @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 640px 200px, center center);
    }
}
#quad2 {
    border-right: 2px solid white;
    @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 360px 200px, null);
    @include bp-xlg {
        @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 640px 200px, null);
    }
    @include bp-md {
        border-right: none;
        border-bottom: 1px solid white;
        @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 640px 200px, center center);
    }
}
#quad3 {
    border-right: 2px solid white;
    @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 360px 200px, null);
    @include bp-xlg {
        @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 640px 200px, null);
    }
    @include bp-md {
        border-right: none;
        border-top: 1px solid white;
        @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 640px 200px, center center);
    }
}
#quad4 {
    border-right: none;
    @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 360px 200px, null);
    @include bp-xlg {
        @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 640px 200px, null);
    }
    @include bp-md {
        border-left: none;
        border-top: 1px solid white;
        @include background-image('https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC', no-repeat, 640px 200px, center center);
    }
}

footer {
    background-color: $footer-grey-accent;
    font-size: 11px;
    height: auto;
    width: 100%;
    @include bp-md {
        padding-top: 20px;
    }
    .col-sm-12 {
        display: none;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid $border-grey;
        cursor: pointer;
        font-size: 12px;
        @include bp-md {
            display: block;
        }
    }
    .container {
        padding-left: 0;
        padding-right: 0;
        &:first-child {
            padding-bottom: 20px;
        }
        @include bp-md {
            padding-right: 15px;
            padding-left: 15px;
        }
    }
    ul {
        list-style: none;
        padding-top: 20px;
        padding-left: 0;
        @include bp-md {
            display: none;
        }
    }    
    li {
        padding-left: 0;
        line-height: 1.7;
        cursor: pointer;
        &:first-child {
            font-weight: bold;
        } 
    }
}

.footerWrap {
    color: $subtitles-grey;
    font-size: 12px;
    @include bp-md {
        padding: 0;
    }
    p {
        margin-bottom: 6px;
    }
    #footerLegal {
        border-top: 1px solid $border-grey;
        padding-top: 8px;
        margin-bottom: 43px;
        @include bp-md {
            border-top: none;
            margin-bottom: 10px;
        }
        .col-md-4, .col-md-2 {
            padding-left: 0;
            padding-right: 0;
        }
        .copyright {
            padding-left: 0;
        }
        .legalLinks {
            text-align: left;
            @include bp-md {
                padding-left: 0;
            }
            a {
                padding-right: 10px;
                padding-left: 10px;
                color: #555;
                border-right: 1px solid $border-grey;
                text-align: center;
                font-size: 11px;
                &:last-child {
                    border-right: none;
                }
                @include bp-md {
                    &:first-child {
                        padding-left: 0;
                    }
                }
            }
        }
        .footerLocal {
            text-align: right;
            line-height: 16px;
            @include bp-sm {
                display: none;
            }
            span {
                width: 16px;
                height: 16px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 50%;
                @include background-image('http://images.apple.com/ac/flags/1/images/us/32.png', no-repeat, 16px 16px, null);
            }
            a {
                color: $subtitles-grey;
                cursor: pointer;
                display: inline-block;
                vertical-align: middle;
                padding-left: 5px;
            }
        }
    }
}

