body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif; }

*, *::before, *::after {
  box-sizing: border-box; }

img {
  /*max-width: 100%;
  max-height: 100%;
  min-width: 100%;
  min-height: 100%;*/ }

.container-fluid, .row {
  margin: 0;
  padding: 0; }

nav {
  position: absolute;
  height: 44px;
  width: 100%;
  /*background: rgba(0, 0, 0, 0.8);*/
  background: rgba(45,45,45,0.98);
  color: white;
  display: inline-block;
  line-height: 44px;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden; }
  @media only screen and (max-width: 768px) {
    nav {
      height: 48px; } }
  nav ul {
    list-style: none;
    padding: 0;
    margin-top: 0;
    text-align: center;
    height: 44px; }
    @media only screen and (max-width: 768px) {
      nav ul {
        display: none; } }
    nav ul li {
      display: inline-block;
      font-size: 14px;
      margin-left: 77px;
      letter-spacing: .1px;
      height: 44px;
      top: 0;
      vertical-align: middle;
      cursor: pointer; }
      nav ul li:first-child {
        margin-left: 0;
        font-size: 20px;
        line-height: 44px; }
      @media only screen and (max-width: 1024px) {
        nav ul li {
          margin-left: 50px; } }
    nav ul #searchIcon {
      width: 20px;
      height: 44px;
      display: inline-block;
      background: url("http://www.apple.com/ac/globalnav/3/en_US/images/globalnav/search/image_large.svg");
      background-repeat: no-repeat;
      background-size: 16px 44px;
      background-position: center center; }
    nav ul #shoppingBag {
      width: 20px;
      height: 44px;
      display: inline-block;
      background: url("http://www.apple.com/ac/globalnav/3/en_US/images/globalnav/bag/image_large.svg");
      background-repeat: no-repeat;
      background-size: 16px 44px;
      background-position: center center; }

.mobileNav {
  position: absolute;
  width: 100%;
  height: 44px;
  top: 0;
  display: none; }
  @media only screen and (max-width: 768px) {
    .mobileNav {
      display: inline-block; } }
  .mobileNav .fa-bars {
    position: absolute;
    font-size: 20px;
    left: 0;
    display: inline-block;
    width: 48px;
    height: 48px;
    color: white;
    cursor: pointer;
    line-height: 44px; }
    .mobileNav .fa-bars:hover {
      text-decoration: none; }
  .mobileNav .fa-apple {
    position: absolute;
    left: 50%;
    font-size: 20px;
    margin-left: -5px;
    color: white;
    cursor: pointer;
    line-height: 44px; }
    .mobileNav .fa-apple:hover {
      text-decoration: none; }
  .mobileNav #shoppingBag {
    position: absolute;
    right: 10px;
    cursor: pointer;
    background-size: 18px 48px; }

#transparentWrap {
  width: 100%;
  height: 706px;
  position: relative; }

#slideContainer {
  position: absolute;
  width: 100%;
  height: 706px;
  top: 0;
  overflow: hidden; }

#sliderWrap {
  width: 100%;
  height: 706px;
  cursor: pointer; }
  #sliderWrap .slideOne {
    position: absolute;
    width: 100%;
    height: 706px;
    background: black; }
    #sliderWrap .slideOne .titleWrap {
      position: absolute;
      width: 100%;
      height: auto;
      top: 80px;
      text-align: center;
      color: white; }
      #sliderWrap .slideOne .titleWrap span {
        font-size: 11px;
        border: 1px solid white;
        border-radius: 4px;
        padding: 5px 8px 5px 8px;
        letter-spacing: .7px; }
      #sliderWrap .slideOne .titleWrap h1 {
        font-size: 31px;
        letter-spacing: 1px;
        margin: 30px -7px 0 0; }
      #sliderWrap .slideOne .titleWrap h2 {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        margin-top: 0;
        font-size: 42px;
        line-height: 80px; }
        #sliderWrap .slideOne .titleWrap h2 .productPNG {
          display: inline-block;
          vertical-align: middle;
          margin-right: -54px;
          margin-top: -7px;
          width: 220px;
          height: 75px;
          background: url("http://images.apple.com/v/home/de/images/shared/productred_logo_medium_2x.png");
          background-repeat: no-repeat;
          background-size: 214px 60px;
          background-position: center center; }
    #sliderWrap .slideOne .iphoneWrapper {
      position: absolute;
      bottom: 0;
      width: 97%;
      height: 480px;
      z-index: 100;
      overflow: hidden;
      background: url("http://images.apple.com/v/home/de/images/heroes/iphone7_productred_small.png");
      background-repeat: no-repeat;
      background-position: top center; }
      @media only screen and (max-width: 480px) {
        #sliderWrap .slideOne .iphoneWrapper {
          left: 10px;
          height: 428px;
          background: url("https://images.apple.com/v/home/de/images/heroes/iphone7_productred_portrait_small_2x.png");
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: bottom left; } }
  #sliderWrap .slideTwo {
    position: absolute;
    background: #f2f2f2;
    width: 100%;
    height: 706px;
    transform: translate3d(100%, 0px, 0px); }
    #sliderWrap .slideTwo .titleWrap {
      position: absolute;
      top: 11%;
      width: 100%;
      height: auto;
      text-align: center;
      z-index: 100; }
      #sliderWrap .slideTwo .titleWrap .logo {
        width: 400px;
        height: 50px;
        margin: 0 auto;
        background: url("https://images.apple.com/v/home/de/images/shared/watch_logo_large_2x.png");
        background-repeat: no-repeat;
        background-size: 122px 44px;
        background-position: center center; }
        @media only screen and (max-width: 480px) {
          #sliderWrap .slideTwo .titleWrap .logo {
            width: 300px;
            margin-top: 40px; } }
      #sliderWrap .slideTwo .titleWrap h1 {
        font-size: 45px;
        font-weight: bold;
        margin-top: 5px;
        margin-right: -10px; }
        @media only screen and (max-width: 480px) {
          #sliderWrap .slideTwo .titleWrap h1 {
            font-size: 36px;
            margin-top: 15px; } }
    #sliderWrap .slideTwo .watchWrap {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;
      transform: translateY(5%);
      z-index: -1;
      background: url("https://images.apple.com/v/home/de/images/heroes/watch_large_2x.jpg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top center; }
      @media only screen and (max-width: 480px) {
        #sliderWrap .slideTwo .watchWrap {
          background-position: center center; } }
  #sliderWrap .slideThree {
    position: absolute;
    background: #fafafa;
    width: 100%;
    height: 706px;
    transform: translate3d(200%, 0px, 0px); }
    #sliderWrap .slideThree .titleWrap {
      position: absolute;
      text-align: center;
      width: 100%;
      height: auto;
      top: 12%; }
      @media only screen and (max-width: 480px) {
        #sliderWrap .slideThree .titleWrap {
          top: 20%; } }
      #sliderWrap .slideThree .titleWrap h1 {
        font-size: 30px;
        margin-bottom: 5px; }
      #sliderWrap .slideThree .titleWrap h2 {
        font-size: 45px;
        font-weight: bold;
        margin-top: 0; }
        @media only screen and (max-width: 480px) {
          #sliderWrap .slideThree .titleWrap h2 {
            font-size: 36px; } }
    #sliderWrap .slideThree .ipadWrap {
      position: absolute;
      width: 100%;
      height: calc(77% - 54px);
      bottom: 0;
      z-index: -1;
      background: url("https://images.apple.com/v/home/de/images/heroes/ipad_availability_medium_2x.jpg");
      background-repeat: no-repeat;
      background-size: auto 100%;
      background-position: center center; }
      @media only screen and (max-width: 480px) {
        #sliderWrap .slideThree .ipadWrap {
          bottom: 120px;
          height: 297px;
          background: url("https://images.apple.com/v/home/de/images/heroes/ipad_availability_small_2x.jpg");
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: center center; } }
  #sliderWrap .slideFour {
    position: absolute;
    width: 100%;
    height: 706px;
    background: #cc3341;
    transform: translate3d(300%, 0px, 0px); }
    #sliderWrap .slideFour .titleWrap {
      position: absolute;
      width: 100%;
      height: auto;
      top: 80px;
      text-align: center;
      color: white; }
      #sliderWrap .slideFour .titleWrap span {
        font-size: 11px;
        border: 1px solid white;
        border-radius: 4px;
        padding: 5px 8px 5px 8px;
        letter-spacing: .7px; }
      #sliderWrap .slideFour .titleWrap h1 {
        font-size: 31px;
        letter-spacing: 1px;
        margin: 30px -7px 0 0; }
      #sliderWrap .slideFour .titleWrap h2 {
        display: inline-block;
        width: 100%;
        vertical-align: middle;
        margin-top: 0;
        font-size: 42px;
        line-height: 80px; }
        #sliderWrap .slideFour .titleWrap h2 .productPNG {
          display: inline-block;
          vertical-align: middle;
          margin-right: -54px;
          margin-top: -7px;
          width: 220px;
          height: 75px;
          background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
          background-repeat: no-repeat;
          background-size: 214px 60px;
          background-position: center center; }
    #sliderWrap .slideFour .iphoneWrapper {
      position: absolute;
      bottom: 0;
      width: 97%;
      height: 480px;
      z-index: 100;
      overflow: hidden;
      background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
      background-repeat: no-repeat;
      background-position: top center; }
      @media only screen and (max-width: 480px) {
        #sliderWrap .slideFour .iphoneWrapper {
          left: 10px;
          height: 428px;
          background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
          background-repeat: no-repeat;
          background-size: auto 100%;
          background-position: bottom left; } }

.sliderNav {
  /*width: 180px;*/
  text-align: center;
  height: 40px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100; }
  .sliderNav a {
    display: inline-block;
    width: 50px;
    height: 2px;
    background: rgba(128, 128, 128, 0.8);
    text-align: center;
    margin: 5px;
    cursor: pointer; }

.quadImages {
  padding: 0;
  margin: 0;
  height: 200px;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  z-index: 100;
  cursor: pointer; }

#quad1 {
  border-left: none;
  border-right: 2px solid white;
  background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
  background-repeat: no-repeat;
  background-size: 360px 200px; }
  @media only screen and (min-width: 1920px) {
    #quad1 {
      background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
      background-repeat: no-repeat;
      background-size: 640px 200px; } }
  @media only screen and (max-width: 1024px) {
    #quad1 {
      border-right: none;
      border-bottom: 1px solid white;
      background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
      background-repeat: no-repeat;
      background-size: 640px 200px;
      background-position: center center; } }

#quad2 {
  border-right: 2px solid white;
  background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
  background-repeat: no-repeat;
  background-size: 360px 200px; }
  @media only screen and (min-width: 1920px) {
    #quad2 {
      background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
      background-repeat: no-repeat;
      background-size: 640px 200px; } }
  @media only screen and (max-width: 1024px) {
    #quad2 {
      border-right: none;
      border-bottom: 1px solid white;
      background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
      background-repeat: no-repeat;
      background-size: 640px 200px;
      background-position: center center; } }

#quad3 {
  border-right: 2px solid white;
  background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
  background-repeat: no-repeat;
  background-size: 360px 200px; }
  @media only screen and (min-width: 1920px) {
    #quad3 {
      background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
      background-repeat: no-repeat;
      background-size: 640px 200px; } }
  @media only screen and (max-width: 1024px) {
    #quad3 {
      border-right: none;
      border-top: 1px solid white;
      background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybCg");
      background-repeat: no-repeat;
      background-size: 640px 200px;
      background-position: center center; } }

#quad4 {
  border-right: none;
  background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
  background-repeat: no-repeat;
  background-size: 360px 200px; }
  @media only screen and (min-width: 1920px) {
    #quad4 {
      background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
      background-repeat: no-repeat;
      background-size: 640px 200px; } }
  @media only screen and (max-width: 1024px) {
    #quad4 {
      border-left: none;
      border-top: 1px solid white;
      background: url("https://www.windowscentral.com/sites/wpcentral.com/files/styles/xlarge_wm_blb/public/field/image/2017/01/macbook-pro-windows-3.jpg?itok=2giO5ybC");
      background-repeat: no-repeat;
      background-size: 640px 200px;
      background-position: center center; } }

footer {
  background-color: #f2f2f2;
  font-size: 11px;
  height: auto;
  width: 100%; }
  @media only screen and (max-width: 1024px) {
    footer {
      padding-top: 20px; } }
  footer .col-sm-12 {
    display: none;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #d6d6d6;
    cursor: pointer;
    font-size: 12px; }
    @media only screen and (max-width: 1024px) {
      footer .col-sm-12 {
        display: block; } }
  footer .container {
    padding-left: 0;
    padding-right: 0; }
    footer .container:first-child {
      padding-bottom: 20px; }
    @media only screen and (max-width: 1024px) {
      footer .container {
        padding-right: 15px;
        padding-left: 15px; } }
  footer ul {
    list-style: none;
    padding-top: 20px;
    padding-left: 0; }
    @media only screen and (max-width: 1024px) {
      footer ul {
        display: none; } }
  footer li {
    padding-left: 0;
    line-height: 1.7;
    cursor: pointer; }
    footer li:first-child {
      font-weight: bold; }

.footerWrap {
  color: #888;
  font-size: 12px; }
  @media only screen and (max-width: 1024px) {
    .footerWrap {
      padding: 0; } }
  .footerWrap p {
    margin-bottom: 6px; }
  .footerWrap #footerLegal {
    border-top: 1px solid #d6d6d6;
    padding-top: 8px;
    margin-bottom: 43px; }
    @media only screen and (max-width: 1024px) {
      .footerWrap #footerLegal {
        border-top: none;
        margin-bottom: 10px; } }
    .footerWrap #footerLegal .col-md-4, .footerWrap #footerLegal .col-md-2 {
      padding-left: 0;
      padding-right: 0; }
    .footerWrap #footerLegal .copyright {
      padding-left: 0; }
    .footerWrap #footerLegal .legalLinks {
      text-align: left; }
      @media only screen and (max-width: 1024px) {
        .footerWrap #footerLegal .legalLinks {
          padding-left: 0; } }
      .footerWrap #footerLegal .legalLinks a {
        padding-right: 10px;
        padding-left: 10px;
        color: #555;
        border-right: 1px solid #d6d6d6;
        text-align: center;
        font-size: 11px; }
        .footerWrap #footerLegal .legalLinks a:last-child {
          border-right: none; }
        @media only screen and (max-width: 1024px) {
          .footerWrap #footerLegal .legalLinks a:first-child {
            padding-left: 0; } }
    .footerWrap #footerLegal .footerLocal {
      text-align: right;
      line-height: 16px; }
      @media only screen and (max-width: 768px) {
        .footerWrap #footerLegal .footerLocal {
          display: none; } }
      .footerWrap #footerLegal .footerLocal span {
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 50%;
        background: url("http://images.apple.com/ac/flags/1/images/us/32.png");
        background-repeat: no-repeat;
        background-size: 16px 16px; }
      .footerWrap #footerLegal .footerLocal a {
        color: #888;
        cursor: pointer;
        display: inline-block;
        vertical-align: middle;
        padding-left: 5px; }

/*# sourceMappingURL=styles.css.map */
