.homepage-logo-container {
	/*margin-top: 100px;*/
	padding-top: 60px;
	text-align: center;
	margin-bottom: 30px;
}

.line {
	border-bottom: 0.5px solid #d6d6d6;
    width: 75%;
    margin: 0px auto;
    padding-top: 20px;
}

.grundfos-container {
	font-size: 20px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -.022em;
    font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    text-align: center;
    margin-top: 0px;
}

.grundfos-container .learn-more {
	color: #0070c9;
    margin: 10px 0;
}

.grundfos-container .title {
	font-weight: bold;
    font-size: 25px;
    padding: 20px 0;
}

.widget-title {
	font-weight: bold;
    font-size: 25px;
    padding: 20px 0;
}

.about .description {
	padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 200px;
    text-align: justify;
}

.menu {
	a {
		color: white;
		text-decoration: none;
	}

	a:hover {
		color: white;
		text-decoration: none;
	}
}

.menu .notactive {
	color: white;
	text-decoration: none;
}


.menu .active {
	color: #ccc !important;
	text-decoration: none;
	
}

.product-list {

}

.product-list .item-list-header {
	font-weight: bold;
    border-bottom: 0.5px solid #d6d6d6;
    text-align: center;
}

.product-list .item-list {
	margin: 10px 0;
    border-bottom: 0.5px solid #d6d6d6;
}

.product-list .product-detail {
	padding-bottom: 25px;
	text-align: center;
}

.product-list .product-name {
	padding: 10px 0;
	font-size: 12pt;
	font-weight: bold;
}

.product-list .product-pagination {
	text-align: right;
    margin-top: 50px;
}

.product-list .noproduct {
	text-align: center;
    font-size: 14pt;
}

@media only screen and (min-width: 768px) {
	.product-list {
		padding-left: 60px;
		padding-right: 60px;
	}
}

@media only screen and (max-width: 768px) {
	.product-list .product-pagination {
		text-align: center;
    	margin-top: 50px;
	}
}

.product-view {

}

.product-view .product-detail {
	padding-bottom: 25px;
}

.product-view .product-view-image {
	max-height: 25vh;
}

.product-view .label-name {
	font-weight: bold;
    font-size: 12pt;
    text-decoration: underline;
    padding: 10px 0;
}

.product-view .label-value {
    font-size: 11pt;
    padding: 0;
}

@media only screen and (min-width: 768px) {
	.product-view {
		padding-left: 60px;
		padding-right: 60px;
	}

	.product-view .product-view-image {
		max-height: 25vh;
	}
}